name: Service unit tests
on:
  push:
    paths:
      - '**.js'
      - '!**/tests/integration/**.js'
jobs:
  unit-tests:
    name: Service unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Install modules
        run: |
          npm ci
          npm --prefix Common ci
          npm --prefix DocService ci

      - name: Run Jest
        run: npm run "unit tests"